@model resqdoc2.Models.ResqDoc.Models.Ocorrencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ocorrencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gravidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gravidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobrade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
